.container2 {
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
}
.items {
    border: 2px solid black;
    text-align: center;
    font-size: 70px;
}